POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_URL=

JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRATION_SECONDS=
JWT_ACCESS_ALGORITHM=

JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRATION_SECONDS=
JWT_REFRESH_ALGORITHM=

RABBITMQ_HOST=
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=
RABBITMQ_DEFAULT_VHOST=

REDIS_HOST=
REDIS_PORT=
REDIS_DB=

CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=